{% extends 'base.html' %}
{% block title %}establishments{% endblock%}
{% block content %}

<h1>Establishments:</h1>

<table class="table table-striped">
   <thead>
       <tr>
           <th scope="col">name</th>
           <th scope="col">category</th>
           <th scope="col">address</th>
           <th scope="col">phone</th>
           <th scope="col">photo</th>

       </tr>
   </thead>
   <tbody>
       {% for establishment in establishments %}
       <tr>
           <td><a href='{% url 'form_establishment_rating' id=establishment.id %}'> {{ establishment.name }}</a></td>
           <td>{{ establishment.get_category_display }}</td>
           <td>{{ establishment.address }}</td>
           <td>{{ establishment.phone }}</td>
           <td>
               {% if establishment.photo %}
                   <img style="max-height: 100px" src="{{ establishment.photo.url }}"/>
               {% endif %}
           </td>
       </tr>
       {% endfor %}
   </tbody>
</table>

    <nav aria-label="...">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page=1">first</a>
    </li>
    {% endif %}

        {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
         <li class="page-item active" aria-current="page">
          <a class="page-link" href="?page={{ num }}">{{ num }}</a>
          </li>

     {% elif num >= page_obj.number|add:'-2' and num <= page_obj.number|add:'2' %}
    <li class="page-item" aria-current="page">
    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
      </li>
      {% endif %}
      {% endfor %}

     {% if page_obj.has_next %}
        <li class="page-item">
         <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last</a>
        </li>
      {% endif %}
  </ul>
</nav>

{% endblock %}